@media(max-width: 900px) and (min-width: 450px){
	body{font-size: 1.2em!important;}
	.AnnotationTools {
		width: 23px!important;
		height: 3em!important;
	}
	.toolbar-device{
	width: 54%!important;
    right: 5px!important;
	}
	.btn-new{
	padding: 5px 5px!important;
	    font-size: 12px!important;
	}
	.btn {
		font-size: 10px!important;
		    padding: 5px 8px!important;
	}
	html[dir='ltr'] .secondaryToolbar{
		height: 153px!important;
   	 width: 193px!important;
	}

	.btn-save{
		width: 25%!important;
	}
	.dropdown-content a {
		width: 140px!important;
		padding: 4px 0px 0px 6px!important;
		font-size: 10px!important;
		
	}
	.dropdown-content {
		   width: 145px!important;
    height: 230px!important;
	}
	#viewerContainer{
		margin-top: 13%!important;
	}

	.view-hori{
		margin-top: 12%!important;
	}
	#divAnnotationTools {
	/*right: -40px!important;	*/
	    width: 97%!important;	
	}
	html[dir='ltr'] #toolbarViewerLeft {
		/*margin-left: 80px!important; */
	}
	.back-bookshelf {
		font-size: 10px!important;
	}
	.logout{
		font-size: 10px!important;
	}
	.txt {
		font-size: 10px!important;
	}
	.switch {
		width: 26px!important;
    height: 14px!important;
	}
	.input:checked + .slider:before {
		 transform: translateX(12px)!important;
	}
	.slider:before {
		width: 7px!important;
		height: 7px!important;
	}	 
	.menu-line {
	padding: 3px;
    margin: -1px 0 4px 0;
	}
	#toolbarContainer{
		
	}
	.page-next-prev{
		right: 15px!important;
		position: absolute!important;
	}

/*Question */
	.modal-content {
	width: 35%!important;
    font-size: 7px!important;
    /* min-width: 305px; */
    height: 175px!important;
	}
	.modal-body {
    padding: 6px 16px!important;
    height: 100px!important;
    font-size: 10px!important;
	}
	.mode-space { 
    height: 31px!important;
    width: 50px!important;
	}
	.group-mode {
	margin: 4% 0 0px 7px!important;
	}
	.group-mode label {
    margin: -5px 0!important;

	}
	.timing {
	height: 30!important;
	}
	.q-btn{
	height: 46%!important;	
	}
	.btn-q-type {
	margin: -3% -10px 0 0!important;
	}
	.input-time {
	height: 12px!important;
    padding: 2px 3px!important;
    font-size: 10px!important;
	}


	/*choice */
	.q-box{
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
	.ans-box {
	height: 12px!important;
    width: 83%!important;
    padding: 1px 4px!important;
    font-size: 10px!important;
	}
	.m-c-c {
	height: 195px!important;
	}
	.m-b-c {
	height: 124px!important;
    padding: 0px 16px!important;
	}
	/*--------------*/
	.ans-fill-box {
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
}
@media(min-width: 1000px) and (max-width: 1150px){
	body{font-size: 1.5em!important;}
.AnnotationTools {
		width: 36px!important;
	}
	.toolbar-device{
	width: 56%!important;
    
	}
	.btn-new{
	padding: 5px 5px!important;
	}
	#divAnnotationTools {
	width: 95%!important;	
	}
	.dropdown-content {
		margin-left: -150px!important;
    width: 220px!important;
	}

	.btn-q-type {
    margin: 5% 0 0 0!important;
}

}

/* end landscape */

@media(min-width: 300px) and (max-width: 400px){
	.AnnotationTools {
	width: 2em!important;
    height: 2em!important;
        margin: 0 0 2.5px 0px!important;
	}
	.btn-new {
	padding: 3px 4px!important;
    font-size: 10px!important;
	}
	.toolbarLabel {
	font-size: 10px!important;
	}
	.toolbarField{
		padding: 1px 5px!important;
		    font-size: 10px!important;
	}
	.page-btn {
		right: 85px!important;
	}
	#anno-portrait{
		width: 38%!important
		
	}
	.toolbar-device{
		width: 60%!important;
	}
	html[dir='ltr'] #toolbarViewerRight{
		right: 5px!important;
	}
	html[dir='ltr'] #toolbarViewerLeft{
		width: 35%!important;
		margin-left: 95px!important;
	}
	.page-next-prev {
	margin: -2px 0px 0px 0px!important;
    width: 53%!important;
    font-size: 10px!important;
    right: 86px!important;
    position: relative!important;

    /*-- question ----- */
	}
	.btn-save{
		width: 25%!important;
	}
	.dropdown-content a {
		width: 140px!important;
		padding: 4px 0px 0px 6px!important;
		font-size: 10px!important;
		
	}
	.dropdown-content {
		   width: 145px!important;
		   right: 10px!important;
    height: 230px!important;
	}
	
	.back-bookshelf {
		font-size: 10px!important;
	}
	.logout{
		font-size: 10px!important;
	}
	.txt {
		font-size: 10px!important;
	}
	.switch {
		width: 26px!important;
    height: 14px!important;
	}
	.input:checked + .slider:before {
		 transform: translateX(12px)!important;
	}
	.slider:before {
		width: 7px!important;
		height: 7px!important;
	}	 
	.menu-line {
	padding: 3px;
    margin: -1px 0 4px 0;
	}
	#toolbarContainer{
		
	}
	

/*Question */
	.modal-content {
	width: 70%!important;
    font-size: 7px!important;
    /* min-width: 305px; */
    height: 200px!important;

	}
	.modal-body {
    padding: 6px 16px!important;
    height: 117px!important;
    font-size: 10px!important;
	}
	.mode-space { 
    height: 31px!important;
    width: 50px!important;
	}
	.group-mode {
	margin: 4% 0 0px 7px!important;
	}
	.group-mode label {
    margin: -5px 0!important;

	}
	.timing {
	height: 30!important;
	}
	.q-btn{
	height: 46%!important;	
	}
	.btn-q-type {
	margin: -1% -10px 0 0!important;
	}
	.input-time {
	height: 12px!important;
    padding: 2px 3px!important;
    font-size: 10px!important;
	}


	/*choice */
	.q-box{
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
	.ans-box {
	height: 12px!important;
    width: 83%!important;
    padding: 1px 4px!important;
    font-size: 10px!important;
	}
	.m-c-c {
	height: 195px!important;
	}
	.m-b-c {
	height: 124px!important;
    padding: 0px 16px!important;
	}
	/*--------------*/
	.ans-fill-box {
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}

	#viewerContainer {
		margin-top: 23%!important;
	}

}

@media(min-width: 400px) and (max-width: 490px){
	#divAnnotationTools{
		    margin: -9px 0 0px 0!important;
	}

	.AnnotationTools {
	width: 2.5em!important;
    height: 2.5em!important;
        margin: 0 0 2.5px 0px!important;
    }
	.btn-new {
	padding: 3px 4px!important;
    font-size: 10px!important;
	}
	.toolbarLabel {
	font-size: 10px!important;
	}
	.toolbarField{
		padding: 1px 5px!important;
		    font-size: 10px!important;
	}
	.page-btn {
		right: 85px!important;
	}
	#anno-portrait{
		width: 43%!important
		
	}
	.toolbar-device{
		width: 59%!important;
	}
	html[dir='ltr'] #toolbarViewerRight{
		right: 20px!important;
	}
	html[dir='ltr'] #toolbarViewerLeft{
		width: 35%!important;
		margin-left: 100px!important; 
	}
	.page-next-prev {
	margin: -2px 0px 0px 0px!important;
    width: 53%!important;
    font-size: 10px!important;
    right: 86px!important;
    position: relative!important;
	}

	.pt-device {
		margin-top: 15px!important;
	}

	  /*-- question ----- */
	
	.btn-save{
		width: 25%!important;
	}
	.dropdown-content a {
		width: 140px!important;
		padding: 4px 0px 0px 6px!important;
		font-size: 10px!important;
		
	}
	.dropdown-content {
		   width: 145px!important;
		   right: 10px!important;
    height: 230px!important;
	}
	
	.back-bookshelf {
		font-size: 10px!important;
	}
	.logout{
		font-size: 10px!important;
	}
	.txt {
		font-size: 10px!important;
	}
	.switch {
		width: 26px!important;
    height: 14px!important;
	}
	.input:checked + .slider:before {
		 transform: translateX(12px)!important;
	}
	.slider:before {
		width: 7px!important;
		height: 7px!important;
	}	 
	.menu-line {
	padding: 3px;
    margin: -1px 0 4px 0;
	}
	#toolbarContainer{
		
	}
	

/*Question */
	.modal-content {
	width: 70%!important;
    font-size: 7px!important;
    /* min-width: 305px; */
    height: 200px!important;

	}
	.modal-body {
    padding: 6px 16px!important;
    height: 117px!important;
    font-size: 10px!important;
	}
	.mode-space { 
    height: 31px!important;
    width: 50px!important;
	}
	.group-mode {
	margin: 4% 0 0px 7px!important;
	}
	.group-mode label {
    margin: -5px 0!important;

	}
	.timing {
	height: 30!important;
	}
	.q-btn{
	height: 46%!important;	
	}
	.btn-q-type {
	margin: -1% -10px 0 0!important;
	}
	.input-time {
	height: 12px!important;
    padding: 2px 3px!important;
    font-size: 10px!important;
	}


	/*choice */
	.q-box{
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
	.ans-box {
	height: 12px!important;
    width: 83%!important;
    padding: 1px 4px!important;
    font-size: 10px!important;
	}
	.m-c-c {
	height: 195px!important;
	}
	.m-b-c {
	height: 124px!important;
    padding: 0px 16px!important;
	}
	/*--------------*/
	.ans-fill-box {
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}

	.view-hori {
		margin-top: 23%!important;
	}

}


@media(min-width: 700px) and (max-width: 820px){
	#divAnnotationTools{
		    margin: -9px 0 0px 0!important;
	}

	.AnnotationTools {
	width: 2.5em!important;
    height: 2.5em!important;
        margin: 0 0 2.5px 0px!important;
    }
	.btn-new {
	padding: 3px 4px!important;
    font-size: 10px!important;
	}
	.toolbarLabel {
	font-size: 10px!important;
	}
	.toolbarField{
		padding: 1px 5px!important;
		    font-size: 10px!important;
	}
	.page-btn {
		right: 85px!important;
	}
	#anno-portrait{
		width: 50%!important;
		margin-top: 10px!important;
		
		
	}
	.toolbar-device{
		width: 57%!important;
	}
	html[dir='ltr'] #toolbarViewerRight{
		right: 40px!important;
	}
	html[dir='ltr'] #toolbarViewerLeft{
		width: 35%!important;
		margin-left: 100px!important; 
	}
	.page-next-prev {
	margin: -2px 0px 0px 0px!important;
    /*width: 53%!important; */
    font-size: 10px!important;
    right: 42px!important;
    position: relative!important;
	}

	.pt-device {
		margin-top: 15px!important;
	}

	  /*-- question ----- */
	
	.btn-save{
		width: 25%!important;
	}
	.dropdown-content a {
		width: 140px!important;
		padding: 4px 0px 0px 6px!important;
		font-size: 10px!important;
		
	}
	.dropdown-content {
		   width: 145px!important;
		   right: 10px!important;
    height: 230px!important;
	}
	
	.back-bookshelf {
		font-size: 10px!important;
	}
	.logout{
		font-size: 10px!important;
	}
	.txt {
		font-size: 10px!important;
	}
	.switch {
		width: 26px!important;
    height: 14px!important;
	}
	.input:checked + .slider:before {
		 transform: translateX(12px)!important;
	}
	.slider:before {
		width: 7px!important;
		height: 7px!important;
	}	 
	.menu-line {
	padding: 3px;
    margin: -1px 0 4px 0;
	}
	#toolbarContainer{
		
	}
	

/*Question */
	.modal-content {
	width: 70%!important;
    font-size: 7px!important;
    /* min-width: 305px; */
    height: 200px!important;

	}
	.modal-body {
    padding: 6px 16px!important;
    height: 117px!important;
    font-size: 10px!important;
	}
	.mode-space { 
    height: 31px!important;
    width: 50px!important;
	}
	.group-mode {
	margin: 4% 0 0px 7px!important;
	}
	.group-mode label {
    margin: -5px 0!important;

	}
	.timing {
	height: 30!important;
	}
	.q-btn{
	height: 46%!important;	
	}
	.btn-q-type {
	margin: -1% -10px 0 0!important;
	}
	.input-time {
	height: 12px!important;
    padding: 2px 3px!important;
    font-size: 10px!important;
	}


	/*choice */
	.q-box{
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
	.ans-box {
	height: 12px!important;
    width: 83%!important;
    padding: 1px 4px!important;
    font-size: 10px!important;
	}
	.m-c-c {
	height: 195px!important;
	}
	.m-b-c {
	height: 124px!important;
    padding: 0px 16px!important;
	}
	/*--------------*/
	.ans-fill-box {
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}

	.view-hori {
		margin-top: 23%!important;
	}
}

/*ipad portrait */
@media(max-width: 900px) and (min-width: 700px){
	body{font-size: 1.2em!important;}
	.AnnotationTools {
		width: 23px!important;
		height: 3em!important;
	}
	.toolbar-device{
	width: 48%!important;
    right: 30px!important;
	}
	.btn-new{
	padding: 5px 5px!important;
	    font-size: 12px!important;
	}
	.btn {
		font-size: 10px!important;
		    padding: 5px 8px!important;
	}
	html[dir='ltr'] .secondaryToolbar{
		height: 153px!important;
   	 width: 193px!important;
	}

	.btn-save{
		width: 25%!important;
	}
	.dropdown-content a {
		width: 140px!important;
		padding: 4px 0px 0px 6px!important;
		font-size: 10px!important;
		
	}
	.dropdown-content {
		   width: 145px!important;
    height: 230px!important;
	}
	#viewerContainer{
		margin-top: 13%!important;
	}

	.view-hori{
		margin-top: 12%!important;
	}
	#divAnnotationTools {
	/*right: -40px!important;	*/
	    width: 97%!important;	
	}
	html[dir='ltr'] #toolbarViewerLeft {
		/*margin-left: 80px!important; */
	}
	.back-bookshelf {
		font-size: 10px!important;
	}
	.logout{
		font-size: 10px!important;
	}
	.txt {
		font-size: 10px!important;
	}
	.switch {
		width: 26px!important;
    height: 14px!important;
	}
	.input:checked + .slider:before {
		 transform: translateX(12px)!important;
	}
	.slider:before {
		width: 7px!important;
		height: 7px!important;
	}	 
	.menu-line {
	padding: 3px;
    margin: -1px 0 4px 0;
	}
	#toolbarContainer{
		
	}
	.page-next-prev{
		/*right: 15px!important; */
		position: absolute!important;
	}

/*Question */
	.modal-content {
	width: 35%!important;
    font-size: 7px!important;
    /* min-width: 305px; */
    height: 183px!important;
	}
	.modal-body {
    padding: 6px 16px!important;
    height: 110px!important;
    font-size: 10px!important;
	}
	.mode-space { 
    height: 31px!important;
    width: 50px!important;
	}
	.group-mode {
	margin: 4% 0 0px 7px!important;
	}
	.group-mode label {
    margin: -5px 0!important;

	}
	.timing {
	height: 30!important;
	}
	.q-btn{
	height: 46%!important;	
	}
	.btn-q-type {
	margin: -3% -10px 0 0!important;
	}
	.input-time {
	height: 12px!important;
    padding: 2px 3px!important;
    font-size: 10px!important;
	}


	/*choice */
	.q-box{
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
	.ans-box {
	height: 12px!important;
    width: 83%!important;
    padding: 1px 4px!important;
    font-size: 10px!important;
	}
	.m-c-c {
	height: 195px!important;
	}
	.m-b-c {
	height: 124px!important;
    padding: 0px 16px!important;
	}
	/*--------------*/
	.ans-fill-box {
	height: 14px!important;
    width: 90%!important;
    padding: 3px 7px!important;
    font-size: 10px!important;
	}
}